body {
    background: url("../images/subway-lines.png");
}

.header {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 30px;
    border-top: none;
}

h1,
h4 {
    font-family: 'Passion One', cursive;

}

.trainTitle {
    font-family: 'Passion One', cursive;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.currentTrainBox {
    height: 100%;
}

.addTrainBox {
    padding-left: 60px;
}

.tableHeadText {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

i.icon-black {
    color: black;
}

button.add-train {
    color: black;
    font-family: 'Passion One', cursive;
    font-size: 25px;
}
